{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as formimacrot %}
{% import "macros/viestit.html" as viestimacrot %}
{{viestimacrot.virheet(virheet)}}
{{viestimacrot.info(info)}}

<h1>Käyttäjät</h1>
<a href="{{base_path}}/">Takaisin etusivulle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lempiväri</th>
            <th>Liittymishetki</th>
            <th>Esittelyteksti</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for kayttaja in kayttajat %}
        <tr>
            <td><a href="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}">{{kayttaja.nimi}}</a></td>
            <td>{{kayttaja.lempivari}}</td>
            <td>{{kayttaja.liittymispaiva}}</td>
            <td>{{kayttaja.esittelyteksti}}</td>
            <td>
                {% if kayttaja.kayttajaId == user_logged_in.kayttajaId %}
                <form method="get" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/muokkaus" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Muokkaa</button>
                </form>
                {{formimacrot.destroy_button("#{base_path}/kayttajat/#{kayttaja.kayttajaId}/poista")}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}