{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as formimacrot %}
{% import "macros/viestit.html" as viestimacrot %}
{{viestimacrot.virheet(virheet)}}
{{viestimacrot.info(info)}}

<form method="post" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/muokkaus">
    <div class="form-group">
        <label>Lempivärisi</label>
        <input type="text" class="form-control" value="{{kayttaja.lempivari}}" name="vari">
    </div>
    <div class="form-group">
        <label>Esittelyteksti</label>
        <textarea class="form-control" rows="3" name="teksti">{{kayttaja.esittelyteksti}}</textarea>
    </div>    
    <a href="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}" class="btn btn-default">Peruuta</a><button type="submit" class="btn btn-success">Tallenna</button>
</form>

{% endblock %}
