{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as formimacrot %}
{% import "macros/viestit.html" as viestimacrot %}
{{viestimacrot.virheet(virheet)}}
{{viestimacrot.info(info)}}

<form method="post" action="{{base_path}}/alueet/{{keskustelualue.keskustelualueId}}/muokkaus">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="{{keskustelualue.nimi}}" name="nimi">
    </div>  
    <a href="{{base_path}}/alueet" class="btn btn-default">Peruuta</a><button type="submit" class="btn btn-success">Tallenna</button>
</form>

{% endblock %}
