{% extends "base.html" %}
{% block content %}

    <h1>{{keskustelualue.nimi}}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Viesti</th>
                <th>Nimimerkki</th>
                <th>Tägit</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for viesti in viestit %}}
            <tr>
                <td>{{viesti.sisalto}}</td>
                <td>Placeholder</td>
                <td>
                    <ul>
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Uusi viesti</h2>

    <form>
        <div>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lähetä viesti</button>
    </form>
{% endblock %}