{% extends "base.html" %}
{% block content %}
    <h1>Etusivu</h1>
    <h2>Keskustelualueet</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Viestejä</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td><a href="hiekkalaatikko">Kivat asiat</a></td>
                <td>0</td>
            </tr>
            <tr>
                <td><a href="tietokantayhteys">Muut</a></td>
                <td>300</td>
            </tr>
        </tbody>
    </table>


{% endblock %}