{% extends "base.html" %}
{% block content %}
    <h1>Hakutulokset hakusanalla: lempiväri</h1>
    <h2>Viestit</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Viesti</th>
                <th>Nimimerkki</th>
                <th>Tägit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Minun lempivärini on punainen</td>
                <td><a>Abraham Lincoln</a></td>
                <td>
                    <ul class="list-unstyled">
                        <li><a>Hyödyllinen</a></li>
                        <li><a>Syvällinen</a></li>
                    </ul>
                </td>
                <td><button class="btn btn-default">Muokkaa viestiä</button><button class="btn btn-danger">Poista viesti</button><button class="btn btn-default">Lisää tägi</button></td>
            </tr>
            <tr>
                <td>Minun lempivärini ei ole vihreä</td>
                <td><a>Abraham Lincoln</a></td>
                <td>
                    <ul class="list-unstyled">
                        <li><a>Hyödyllinen</a></li>
                        <li><a>Merkityksellinen</a></li>
                    </ul>
                </td>
                <td><button class="btn btn-default">Muokkaa viestiä</button><button class="btn btn-danger">Poista viesti</button><button class="btn btn-default">Lisää tägi</button></td>
            </tr>
        </tbody>
    </table>
    <h2>Käyttäjät</h2>
    <ul>
        <li><a>Lempiväriekspertti</a></li>
    </ul>
    <h2>Tägit</h2>
    <ul>
        <li><a>Lempivärit</a></li>
    </ul>
    
{% endblock %}
