{% extends "base.html" %}
{% block content %}
    <h1>Hakutulokset hakusanalla: {{hakusana}}</h1>
    <h2>Viestit</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Viesti</th>
                <th>Nimimerkki</th>
                <th>Tägit</th>
                <th>Keskustelualue</th>
            </tr>
        </thead>
        <tbody>
            {% for viesti in viestit %}
                <tr>
                    <td>{{viesti.sisalto}}</td>
                    <td>Placeholder</td>
                    <td>
                        <ul>Placeholder1</ul>
                        <ul>Placeholder2</ul>
                    </td>
                    <td>Placeholder</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Käyttäjät</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Liittymishetki</th>
                <th>Lempiväri</th>
            </tr>
        </thead>
        <tbody>
            {% for kayttaja in kayttajat %}
                <tr>
                    <td><a href="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}">{{kayttaja.nimi}}</a></td>
                    <td>{{kayttaja.liittymispaiva}}</td>
                    <td>{{kayttaja.lempivari}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Tägit</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Viestit tällä tägillä</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hyödyllinen</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
