{% extends "base.html" %}
{% block content %}
    
    <h1>Abraham Lincoln</h1>
    
    <dl>
        <dt>Lempiväri</dt>
        <dd>Punainen</dd>
        <dt>Liittymispäivä</dt>
        <dd>29.8.2016</dd>
    </dl>
    <h2>Käyttäjän Abraham Lincoln viestit</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><a href="hiekkalaatikko">Lempivärini on punainen</a></td>
            </tr>
            <tr>
                <td><a href="tietokantayhteys">Lempivärini ei ole vihreä</a></td>
            </tr>
        </tbody>
    </table>
    
    <a href="">Muokkaa käyttäjätietoja</a>
{% endblock %}