{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as formimacrot %}
{% import "macros/viestit.html" as viestimacrot %}
{{viestimacrot.virheet(virheet)}}
{{viestimacrot.info(info)}}
<h1>Hakutulokset hakusanalla: {{hakusana}}</h1>
<a href="{{base_path}}/">Takaisin etusivulle</a>
<h2>Viestit</h2>
<table class="table">
    <thead>
        <tr>
            <th>Viesti</th>
            <th>Lähetysaika</th>
            <th>Keskustelualue</th>
            <th>Tägit</th>
        </tr>
    </thead>
    <tbody>
        {% for viesti in viestit %}
        <tr>
            <td>{{viesti.sisalto}}</td>
            <td>{{viesti.lahetysaika}}</td>
            <td><a href="{{base_path}}/alueet/{{viesti.keskustelualueId}}">{{viesti.keskustelualue}}</a></td>
            <td>
                {% for tagi in viesti.tagit %}
                <a href="{{base_path}}/tagit/{{tagi.tagiId}}" class="btn btn-primary">{{tagi.nimi}}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Käyttäjät</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lempiväri</th>
            <th>Liittymishetki</th>
            <th>Esittelyteksti</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for kayttaja in kayttajat %}
        <tr>
            <td><a href="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}">{{kayttaja.nimi}}</a></td>
            <td>{{kayttaja.lempivari}}</td>
            <td>{{kayttaja.liittymispaiva}}</td>
            <td>{{kayttaja.esittelyteksti}}</td>
            <td>
                {% if kayttaja.kayttajaId == user_logged_in.kayttajaId %}
                <form method="get" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/muokkaus" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Muokkaa</button>
                </form>
                <form method="post" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/poista" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Tägit</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nimi</th>
        </tr>
    </thead>
    <tbody>
        {% for tagi in tagit %}
        <tr>
            <td><a href="{{base_path}}/tagit/{{tagi.tagiId}}" class="btn btn-default">{{tagi.nimi}}</a></td>    
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
