{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Hakutulokset hakusanalla: {{hakusana}}</h1>
<h2>Viestit</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Viesti</th>
            <th>Nimimerkki</th>
            <th>Tägit</th>
            <th>Keskustelualue</th>
        </tr>
    </thead>
    <tbody>
        {% for viesti in viestit %}
        <tr>
            <td>{{viesti.sisalto}}</td>
            <td>Placeholder</td>
            <td>
                <ul>Placeholder1</ul>
                <ul>Placeholder2</ul>
            </td>
            <td>Placeholder</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Käyttäjät</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lempiväri</th>
            <th>Liittymishetki</th>
            <th>Esittelyteksti</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for kayttaja in kayttajat %}
        <tr>
            <td><a href="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}">{{kayttaja.nimi}}</a></td>
            <td>{{kayttaja.lempivari}}</td>
            <td>{{kayttaja.liittymispaiva}}</td>
            <td>{{kayttaja.esittelyteksti}}</td>
            <td>
                {% if kayttaja.kayttajaId == user_logged_in.kayttajaId %}
                <form method="get" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/muokkaus" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Muokkaa</button>
                </form>
                <form method="post" action="{{base_path}}/kayttajat/{{kayttaja.kayttajaId}}/poista" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Tägit</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Viestit tällä tägillä</th>
        </tr>
    </thead>
    <tbody>
        {% for tagi in tagit %}
        <tr>
            <td><a href="{{base_path}}/tagit/{{tagi.id}}" class="btn btn-default">{{tagi.nimi}}</a></td>    
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
