{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as formimacrot %}
{% import "macros/viestit.html" as viestimacrot %}
{{viestimacrot.virheet(virheet)}}
{{viestimacrot.info(info)}}

<h1>Kirjaudu sisään</h1>
<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Käyttäjänimi</label>
        <input type="text" class="form-control" name="nimi">
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="salasana">
    </div>
    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>
<h1>Rekisteröityminen</h1>
<form method="post" action="{{base_path}}/register">
    <div class="form-group">
        <label><span>Käyttäjänimi</span><span style="color:red">*</span></label>
        <input type="text" class="form-control" name="nimiuusi">
    </div>
    <div class="form-group">
        <label><span>Salasana</span><span style="color:red">*</span></label>
        <input type="password" class="form-control" name="salasanauusi">
    </div> 
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>
{% endblock %}


